{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}All Cafes{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
            <tr>
                <td><b>Name</b></td>
                 <td><b>Map URL</b></td>
                 <td><b>Image URL</b></td>
                 <td><b>Location</b></td>
                 <td><b>Sockets</b></td>
                 <td><b>Toilet</b></td>
                 <td><b>Wifi</b></td>
                 <td><b>Calls</b></td>
                 <td><b>Seats</b></td>
                 <td><b>Coffee price</b></td>
            </tr>
          {% for row in cafes %}
          <tr>
                <td>{{row.name}}</td>
                <td>
                  <a href="{{row.map_url}}">Map Link</a>
                </td>
                <td>
                  <a href="{{row.img_url}}">Image Link</a>
                </td>
                <td>{{row.location}}</td>
                <td>{{row.has_sockets}}</td>
                <td>{{row.has_toilet}}</td>
                <td>{{row.has_wifi}}</td>
                <td>{{row.can_take_calls}}</td>
                <td>{{row.seats}}</td>
                <td>{{row.coffee_price}}</td>
                <td><a href="{{ url_for('delete_post', cafe_id=row.id) }}">✘</a></td>

          </tr>
          {% endfor %}


  	  </table>

        <p><a href="{{ url_for('home') }}">Return to index page</a></p>
        <p><a href="{{ url_for('add_cafe') }}">Add Cafe</a></p>
    </div>
  </div>
</div>

{% endblock %}
